asgiref==3.5.2
black==22.6.0
certifi==2022.9.24
click==8.0.4
distlib==0.3.6
Django==4.1
django-crispy-forms==1.14.0
filelock==3.8.0
gunicorn==20.1.0
mypy-extensions==0.4.3
pathspec==0.9.0
Pillow==9.3.0
pip==22.2.2
platformdirs==2.5.4
python-decouple==3.6
setuptools==65.5.0
sqlparse==0.4.3
tomli==2.0.1
wheel==0.37.1
